<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <nav>
      <a href="menus/add">Add Menu</a>
    </nav>
    <table border="1">
    <% menus.forEach(list=>{%>
      <tr>
        <td>
          <%= list.food_name %><br>
          <%= list.price %><br>
          <% if(list.RestoId === null) {%>
            <%= "Unassigned" %><br>
          <% } else { %>
            <%= list.Resto.name %><br>
          <% } %>
          Rating<br>
        </td>
        <td>
          <nav>
            <a href="menus/edit/<%= list.id %>">Edit</a>
          </nav>
          <nav>
            <a href="menus/delete/<%= list.id %>">Delete</a>
          </nav>
        </td>
      </tr>
    <% }) %>
  </table>
  </body>
</html>
