<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/menus/edit/<%= data.id %>" method="POST">
        Food_Name:<br>
        <input type="text" name="food_name" value="<%= data.food_name %>">
        <br>
        Drink_Name:<br>
        <input type="text" name="drink_name" value="<%= data.drink_name %>">
        <br>
        Price:<br>
        <input type="integer" name="price" value="<%= data.price %>">
        <br>
        RestoId:<br>
        <input type="integer" name="RestoId" value="<%= data.RestoId %>">
        <br><br>
        <input type="submit" value="Submit">
    </form> 
</body>
</html>